Django==3.2.11
django-bootstrap-form==3.4
django-browserid==2.0.2
django-classy-tags==2.0.0
django-connect-mongo==1.14.0
django-cors-headers==3.10.1
django-djmongo==0.7.9.4
django-localflavor==3.1
django-markdown-deux==1.0.5
django-missing==1.1.0
django-mongo-auth==0.1.3
django-mongo-cache==0.1
django-mongo-connection==0.0.2
django-oauth-toolkit==1.6.1
django-psycopg2-extension==0.1.1
django-sekizai==2.0.0
django-widget-tweaks==1.4.9
psycopg2-binary==2.9.3
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-magic==0.4.16
python-stdnum==1.17
python-xapp==2.2.1
python-xlib==0.23
SQLAlchemy==1.4.31
sqlparse==0.2.4

